body {
    margin: 0px;
    padding: 0px;
    
}
*{
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: auto;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
    
}
.language{
    color: #787878;
    position: absolute;
    right: 0px;
    
    background: #f7f8f9;
    padding: 0px 12px;
    border-radius: 0px 0px 5px 5px;
}
.select-lang {
    display: inline-block;
    zoom: 1;
}

.navbar{
    width: 970px !important;
}
.break> :before {
    content: "|";
    color: #999999;
    padding: 0 .4em 0 .2em;
}
.caption{
    top: 50px;
  
    position: absolute;
    font-size: 20px;
    font-weight: normal;
   
}
.navbar-right {
   font-size:20px; 
  position:relative;
   top:40px;
   margin-right:0

}
.nav>.myaccount>a:focus, .nav>.myaccount>a:hover{
    background-color: transparent !important;
 
        color:#2965be;
}
a:focus{
    outline:0px;
}
.nav>.ad-submission>a:focus,.nav>.ad-submission>a:hover{
    outline:0;
    background-color: transparent !important;
}

.nav>.ad-submission>a span{
    color:#fff;
}
.ad-submission{
    position: relative;
    font-size: 17px;
    font-weight: normal;
    float: right;
    border-radius: 3px;
    background: #ff7700;
    color: #fff;
    font-weight: bold;
}
